<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>Archetype Created Web Application</display-name>
    <context-param>
        <param-name>quartz:shutdown-on-unload</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>quartz:wait-on-shutdown</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>quartz:start-scheduler-on-load</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>quartz:config-file</param-name>
        <param-value>quartz.properties</param-value>
    </context-param>
    <listener>
        <listener-class>org.quartz.ee.servlet.QuartzInitializerListener</listener-class>
    </listener>
    <filter>
        <filter-name>I18nFilter</filter-name>
        <filter-class>com.epam.lab.spider.controller.filter.I18nFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>I18nFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>ApiServlet</servlet-name>
        <servlet-class>com.epam.lab.spider.controller.servlet.ApiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerServlet</servlet-name>
        <servlet-class>com.epam.lab.spider.controller.servlet.ControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountsServlet</servlet-name>
        <servlet-class>com.epam.lab.spider.controller.servlet.user.AccountsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.epam.lab.spider.controller.servlet.user.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.epam.lab.spider.controller.servlet.user.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>com.epam.lab.spider.controller.servlet.user.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>com.epam.lab.spider.controller.servlet.admin.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatusChangerServlet</servlet-name>
        <servlet-class>com.epam.lab.spider.controller.servlet.admin.ajax.StatusChangerServlet</servlet-class>
    </servlet>


    <servlet>
        <servlet-name>JqueryDatatablePluginDemoServlet</servlet-name>
        <servlet-class>com.epam.lab.spider.controller.servlet.admin.ajax.JqueryDatatablePluginDemoServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InBoxServlet</servlet-name>
        <servlet-class>com.epam.lab.spider.controller.servlet.admin.InBoxServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InBoxServlet</servlet-name>
        <url-pattern>/admin/inbox</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JqueryDatatablePluginDemoServlet</servlet-name>
        <url-pattern>/com/studywithdemo/JqueryDatatablePluginDemo.java</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>StatusChangerServlet</servlet-name>
        <url-pattern>/statuschanger</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/forgot_password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountsServlet</servlet-name>
        <url-pattern>/user/accounts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerServlet</servlet-name>
        <url-pattern>/controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApiServlet</servlet-name>
        <url-pattern>/api/method/*</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>jsp/index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
